h1 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main {
  display: flex;
  justify-content: center;
}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
}

.btn-lang {
  margin: 1rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: royalblue;
  color: white;
}

.btn-lang:hover {
  background-color: gold;
  color: black;
}

/* .btn-lang.active {
  background-color: gold;
  color: black;
} */

.card {
  border: 1px solid gray;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
